<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.0" />
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <include file="$(find artpark)/launch/spawn.launch">
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg y)" />
        <arg name="z" value="$(arg z)" />
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="$(arg yaw)" />
        <arg name="urdf_robot_file" value="$(find artpark)/urdf/Art.urdf" />
        <arg name="robot_name" value="Art" />
    </include>

    <include file="$(find artpark)/launch/control.launch"/>
    <include file="$(find artpark)/launch/gmapping.launch"/>

</launch>
