<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Basin">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.625347346345055 -0.318006379664815 0.234552362930051"
        rpy="0 0 0" />
      <mass
        value="50.22199318017" />
      <inertia
        ixx="216.227281059866"
        ixy="40.0298042367422"
        ixz="-28.9769343640001"
        iyy="216.826512518552"
        iyz="-1.60893394735195"
        izz="392.383391970414" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Basin/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Basin/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>