<launch>


  <param name="robot_description" command="cat $(find artpark)/urdf/Art.urdf" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find artpark)/config/control.yaml" command="load" />
  <!-- <rosparam file="$(find artpark)/config/diffdrive.yaml" command="load" ns="Art" /> -->

  <!-- load the controllers -->
  <node name="controller_spawner"
        pkg="controller_manager"
        type="spawner"
        respawn="false"
        output="screen"
        ns="/Art"
        args="sweeper_position_controller foam_position_controller gripper_position_controller flap_position_controller gripper_left_position_controller gripper_right_position_controller  
        gear_left_position_controller gear_right_position_controller servo_position_controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/Art/joint_states" />
  </node>
</launch>